@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: dimgrey;
  color:azure 
}

.open {
  animation: openDetail 0.5s;
  height: calc(100vh - 4rem);
}

@keyframes openDetail {
  from {
    transform:translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
